*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-color:#e8f0fe ;

}
.content h2{

    margin-left: 620px;
    font-size: 34px;
    
}
.content img{
    height: 300px;
    width: 350px;
    margin-left: 520px;
    margin-top:40px ;
    display: flex;
}
.content h4{
    font-size: 20px;
    margin-left: 640px;
    margin-top: 40px;
}
.content p{
    font-size: 20px;
    margin-left: 90px;
    text-align:center;
}
.content a{
    margin-left: 670px;
    text-decoration: none;
    font-weight:700;
}

@media screen and (max-width : 700px){
   
.container img{
margin: 30px 0px 0px 0px;
}
.container h2{
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.content h4{
    margin: 20px 0px 0px 0px;
}
.content p{
    margin: 10px 0px 0px 0px;

}
.content{
    text-align: center;
   
}
.content a{
  
    margin: 40px 0px 0px 0px;
}

}